@charset "utf-8";

.it-slider .owl-carousel .owl-stage-outer {
	padding-left:2px; }

.it-slider .owl-carousel .owl-stage { 
	display: flex; }

.it-slider .owl-carousel .owl-nav { 
	text-align: center; 
	margin: 0.5rem 0 0; 
	font-size: 40px; }

.it-slider .owl-carousel .owl-dots {
	display: none !important; }