@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

root,
[data-bs-theme='light'] {
  --bs-body-font-family: 'Roboto', 'Noto Sans KR', "Malgun Gothic", 맑은고딕, sans-serif;
  --bs-link-color: var(--bs-body-color);
  --bs-link-color-rgb: var(--bs-body-color-rgb);
  --na-bar-color: rgba(125, 125, 125, 0.5);
  --na-bar-sm-color: rgba(125, 125, 125, 0.25);
  --na-nav-bg: #fff;
  --na-sub-bg: #fff;
  --na-sub-link-color: #000;
  --na-sub-hover-color: #000;
  --na-sub-hover-bg: #f5f5f5;
  --na-sub-active-color: var(--bs-primary);
  --na-sub-active-bg: #f5f5f5;
  --na-title-color: var(--bs-body-color);
  --na-title-bg: var(--bs-tertiary-bg);
  --na-footer-bg: var(--bs-tertiary-bg);
}

[data-bs-theme='dark'] {
  --bs-body-font-family: 'Roboto', 'Noto Sans KR', "Malgun Gothic", 맑은고딕, sans-serif;
  --bs-link-color: var(--bs-body-color);
  --bs-link-color-rgb: var(--bs-body-color-rgb);
  --na-bar-color: rgba(125, 125, 125, 0.5);
  --na-bar-sm-color: rgba(125, 125, 125, 0.25);
  --na-nav-bg: #111;
  --na-sub-bg: #333;
  --na-sub-link-color: #fff;
  --na-sub-hover-color: #fff;
  --na-sub-hover-bg: #222;
  --na-sub-active-color: #fff;
  --na-sub-active-bg: #111;
  --na-title-color: var(--bs-body-color);
  --na-title-bg: var(--bs-tertiary-bg);
  --na-footer-bg: var(--bs-tertiary-bg);
}

/* 기본 공통 */
html,
body {
  height: 100%;
}

a,
a:hover {
  text-decoration: none !important;
}

.line-top {
  border-top: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}

.line-bottom {
  border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}

.bar {
  display: inline;
  position: relative;
  margin: 0 10px;
}

.bar:after {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  right: 1px;
  top: 50%;
  margin-top: -7px;
  background: var(--na-bar-color);
}

.bar-sm {
  display: inline;
  position: relative;
  margin: 0 8px;
}

.bar-sm:after {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  position: absolute;
  right: 1px;
  top: 50%;
  margin-top: -6px;
  background: var(--na-bar-sm-color);
}

/* 상단 진행바 */
#page-progress {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--bs-primary);
  /* overflow-y: scroll; */
  width: 0%;
}

.site-wrap {
  background: var(--na-footer-bg);
  /* overflow-y: scroll; */
}

/* 사이트 최대 너비 */
.container {
  max-width: 1200px !important;
}

#main-wrap .sticky-top {
  z-index: 10 !important;
}

/* 모바일 세로 모드에서 가로 스크롤바 숨김 */
@media (max-width: 575.98px) {
  #main-wrap {
    overflow-x: hidden !important;
  }
}

/* 페이지 타이틀 */
.page-title {
  position: relative;
  letter-spacing: -1px;
  color: var(--na-title-color);
  background: var(--na-title-bg);
}

@media (max-width: 575.98px) {
  .page-title {
    margin-top: -1.5rem;
  }
}

.page-title .breadcrumb {
  --bs-breadcrumb-font-size: 0.89rem;
}

/***********************************/
/* PC & Sticky Navbar Style          */
/***********************************/
.header-copy {
  background: var(--na-nav-bg);
}

.site-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background: var(--na-nav-bg);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* 번역기 상태일 때 */
.translated-ltr .site-navbar {
  top: 40px;
}

.translated-ltr .offcanvas-header {
  margin-top: 40px;
}

/* 메뉴 navbar */
.site-nav {
  position: relative;
}

.site-nav .active {
  color: var(--bs-primary);
  display: inline-block;
}

.site-nav .small {
  position: relative;
  top: -2px;
}

.site-nav a {
  text-decoration: none !important;
  display: inline-block;
}

.site-nav > ul > li {
  display: inline-block;
}

/* 메뉴 navbar Height */
.site-navbar .site-icon,
.site-nav > ul > li > a {
  padding: 1.25rem 1rem;
  display: inline-block;
  text-decoration: none !important;
}

.header-copy,
.site-navbar .site-icon {
  padding: 1.25rem 0;
}

@media (max-width: 575.98px) {
  .header-copy,
  .site-navbar .site-icon {
    padding: 0.75rem 0;
  }
}

.site-nav > ul > li > a:hover {
  color: var(--bs-primary);
}

.site-nav .has-sub {
  position: relative;
}

.site-nav .has-sub > a {
  position: relative;
  padding-right: 20px;
}

.site-nav .has-sub > a:before {
  position: absolute;
  content: '\f107';
  font-size: 14px;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
}

.site-nav .has-sub .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-nav .has-sub .dropdown.arrow-top {
  position: absolute;
}

.site-nav .has-sub .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-nav .has-sub .dropdown.arrow-top:before {
  border-width: 10px;
  margin-left: -10px;
}

.site-nav .has-sub .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
}

.site-nav .has-sub .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}

.site-nav .has-sub .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-nav .has-sub .dropdown > li.has-sub > a:before {
  content: '\f105';
  right: 20px;
}

.site-nav .has-sub .dropdown > li.has-sub > .dropdown,
.site-nav .has-sub .dropdown > li.has-sub > ul {
  left: 100%;
  top: -2px;
}

.site-nav .has-sub:hover,
.site-nav .has-sub:focus,
.site-nav .has-sub:active {
  cursor: pointer;
}

.site-nav .has-sub:hover > .dropdown,
.site-nav .has-sub:focus > .dropdown,
.site-nav .has-sub:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-nav .has-sub .dropdown {
  border-top: 2px solid var(--bs-primary);
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  background: var(--na-sub-bg);
}

.site-nav .has-sub .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
}

.site-nav .has-sub .dropdown a {
  color: var(--na-sub-link-color);
}

.site-nav .has-sub .dropdown > li > a:hover {
  background: var(--na-sub-hover-bg);
  color: var(--na-sub-hover-color);
}

.site-nav .has-sub .dropdown .active {
  background: var(--na-sub-active-bg) !important;
  color: var(--na-sub-active-color) !important;
}

.site-nav .has-sub:hover > a,
.site-nav .has-sub:focus > a,
.site-nav .has-sub:active > a {
  color: var(--bs-primary);
}

/*******************************************************/
/* Menu Offcanvas Style : Mobile & Sidebar Full Menu   */
/*******************************************************/
.na-menu .dropdown-header {
  text-transform: uppercase;
  letter-spacing: 0.03125rem;
  font-size: 0.65625rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.na-menu .dropdown-toggle::after {
  display: inline-block;
  width: 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23677788' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1rem 1rem;
  content: '';
  border-top: 0 solid;
  transition: 0.3s;
}

.na-menu .dropdown-toggle:not(.dropdown-toggle-empty)::after {
  padding-left: 1rem;
  margin-left: auto;
}

.na-menu .nav-item > .nav-link[aria-expanded='true']::after,
.na-menu .show > .nav-link.dropdown-toggle::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.na-menu .nav-link .small {
  margin-left: 0.25rem;
}

.na-menu .nav-link-title .small {
  margin-left: 0.1rem;
  position: relative;
  top: -2px;
}

.na-menu .nav-icon {
  opacity: 0.7;
  -ms-flex: 0 0 1.9375rem;
  flex: 0 0 1.9375rem;
}

.na-menu .nav-pills {
  --bs-nav-pills-border-radius: 0.5rem;
  --bs-nav-pills-link-active-color: var(--bs-body-color);
  --bs-nav-pills-link-active-bg: rgba(189, 197, 209, 0.2);
}

.na-menu .nav-pills .nav-link {
  color: var(--bs-body-color);
  background: 0 0;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}

.na-menu .nav-pills .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}

.na-menu .nav-pills .nav-link.active {
  color: var(--bs-nav-pills-link-active-color) !important;
  background-color: var(--bs-nav-pills-link-active-bg) !important;
}

.na-menu .nav-fill .nav-item,
.na-menu .nav-fill > .nav-link {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.na-menu .nav-fill .nav-item .nav-link,
.na-menu .nav-vertical.nav-pills {
  width: 100%;
}

.na-menu .nav-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
}

.na-menu .nav-vertical.nav .nav-item:not(:last-child) {
  margin-right: 0;
}

.na-menu .nav-vertical.nav .nav-link {
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.na-menu .nav-vertical.nav-pills .nav-item {
  margin: 0;
}

.na-menu .nav-vertical.nav-pills .nav-link {
  padding: 0.25rem 0.875rem !important;
  margin-bottom: 0.25rem;
}

.na-menu .nav-vertical.nav-pills .nav-item .nav-link:hover,
.na-menu .nav-vertical.nav-pills .nav-item .nav-link[aria-expanded]:hover,
.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='false'],
.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='true'],
.na-menu .nav-vertical.nav-pills .nav-item.show .nav-link[aria-expanded]:hover,
.na-menu
  .nav-vertical.nav-pills
  .nav-collapse
  .nav-item.show
  .nav-link[aria-expanded]:hover {
  color: var(--bs-body-color);
}

.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='false']:hover,
.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='true']:hover,
.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='false'],
.na-menu .nav-vertical.nav-pills .nav-link.active[aria-expanded='true'],
.na-menu .nav-vertical.nav-pills .nav-link {
  background-color: transparent;
}

.na-menu .nav-vertical.nav-pills .nav-link.active,
.na-menu .nav-vertical.nav-pills .nav-item .nav-collapse.show .nav-link.active,
.na-menu
  .nav-vertical.nav-pills
  .nav-collapse
  .nav-item
  .nav-link[aria-expanded]:hover,
.na-menu .nav-vertical.nav-pills .nav-collapse .nav-link:hover,
.na-menu .nav-pills .nav-link:hover,
.na-menu .nav-pills .nav-link.active:hover {
  color: var(--bs-body-color);
  background-color: rgba(189, 197, 209, 0.2);
}

.na-menu .nav-vertical.nav-pills .nav-collapse {
  position: relative;
  padding-left: 1.9375rem;
}

.na-menu .nav-vertical.nav-pills .nav-collapse::before {
  position: absolute;
  top: 0;
  left: 1.3125rem;
  width: 0.125rem;
  height: calc(100% - 0.25rem);
  content: '';
  background-color: rgba(231, 234, 243, 0.7);
}

.na-menu .nav-vertical.nav-pills .nav-link.dropdown-toggle {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.na-menu .nav-pills .nav-item {
  margin: 0.25rem 0.25rem;
}

.na-menu .nav-pills .nav-link {
  padding: 1rem 1rem;
}

.na-menu .nav-pills .nav-link.active:hover,
.na-menu .nav-pills .show > .nav-link:hover {
  border-color: transparent;
}

@media (max-width: 992px) {
  .order-1.col-md-8 {
    width: 100% !important;
  }
  .order-2.col-md-4 {
    width: 100% !important;
  }
}

.list-group-item:hover {
  background-color: var(--bs-list-group-action-hover-bg) !important;
}
.list-group-item:active {
  background-color: brightness(
    var(--bs-list-group-action-active-bg),
    0.8
  ) !important;
}

.list-group-item a:visited {
  color:var(--bs-gray-500);
  text-decoration: none;
}

/*style.css 파일에서 .site-wrap 클래스에 overflow-y:scroll 추가*/

/*호랑이2 님 요청사항 : 스크롤시 깜빡임 방지*/
.site-wrap {
  background: var(--na-footer-bg);
  overflow-y: scroll;
}
